 SRV_PORT= (3000)  Puerto en el que se ejecutará el servidor

DB_HOST= (localhost) Host de la base de datos
DB_USER= (postgres) Usuario de la base de datos
DB_PASSWORD= tu Contraseña de la base de datos
DB_NAME= (taskFlow) Nombre de la base de datos
DB_PORT= (5432) Puerto de la base de datos